<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cinema</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{index}">CINEMA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/filmSessions}">WHAT'S ON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/films}">MOVIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/genres}">GENRES</a>
                    </li>
                </ul>
                <div class="d-flex" th:if="${user.fullName == 'Guest'}">
                    <a class="nav-link text-secondary" th:href="@{/formAddUser}">
                        <span>SIGN UP |</span></a>
                    <a class="nav-link text-secondary" th:href="@{/formLoginUser}">
                        <span>| LOG IN</span></a>
                </div>
                <div class="d-flex" th:if="${user.fullName != 'Guest'}">
                    <a class="nav-link text-secondary" href="#" th:text="${user.fullName} + ' |'"></a>
                    <a class="nav-link text-secondary" th:href="@{/formLoginUser}">
                        <span>| LOG OUT</span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="text-center mb-3">
        <h5>Our Halls</h5>
    </div>
    <div class="card-group">
        <div class="card p-2" th:each="hall : ${halls}">
            <div th:switch="${hall.name}">
            <img th:case="'SKY'" src="/img/HALL_SKY.jpg" th:src="@{/img/HALL_SKY.jpg}" class="card-img-top" alt="no image..." />
            <img th:case="'ISLAND'" src="/img/HALL_ISLAND.png" th:src="@{/img/HALL_ISLAND.png}" class="card-img-top" alt="no image..." />
            <img th:case="'OCEAN'" src="/img/HALL_OCEAN.jpg" th:src="@{/img/HALL_OCEAN.jpg}" class="card-img-top" alt="no image..." />
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${hall.name}"/>
                <p class="card-text" th:text="${hall.description}"/>
            </div>
            <div class="card-footer">
                <span>Total seats : </span>
                <small class="text-muted" th:text="${hall.rowCount} * ${hall.placeCount}"></small>
            </div>
        </div>
    </div>
</div>
</body>
</html>